<launch>
    
    <group ns="cleo">
    
        <rosparam command="load" file="$(find jaguar_ros)/param/robot_cleo.yaml" />

        <node name="imu_reporter" pkg="jaguar_ros" type="imu_reporter.py" output="screen" />

        <node name="gps_reporter" pkg="jaguar_ros" type="gps_reporter.py" output="screen"/>

        <node name="jaguar_player" pkg="jaguar_ros" type="jaguar_player" output="screen"/>

        <group ns="drive_cam">
            <node pkg="axis_camera" type="axis.py" output="screen" name="axis_driver">
                <rosparam command="load" file="$(find jaguar_ros)/param/axis_cam_config_cleo.yaml"/>
            </node>
        </group>
    
    </group>

</launch>
