<launch>
    
    <group ns = "brutus">
        <rosparam command="load" file="$(find jaguar_ros)/param/controller_config.yaml" />
        
        <rosparam command="load" file="$(find jaguar_ros)/param/robot_brutus.yaml" />

        <node name="imu_reporter" pkg="jaguar_ros" type="imu_reporter.py" output="screen" />

        <node name="gps_reporter" pkg="jaguar_ros" type="gps_reporter.py" output="screen"/>

        <node name="jaguar_player" pkg="jaguar_ros" type="jaguar_player" output="screen"/>

        <node name="joystick" pkg="joy" type="joy_node"/>
        
        <node pkg="jaguar_ros" type="joystick_controller.py" output="screen" name="joystick_controller"/>

        <group ns="drive_cam">
            <node pkg="axis_camera" type="axis.py" output="screen" name="axis_driver">
                <rosparam command="load" file="$(find jaguar_ros)/param/axis_cam_config_brutus.yaml"/>
            </node>
        </group>
    </group>
    
</launch>
